/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/apertium-khk-0.1.pc
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/.DS_Store
/ap_include.am
/apertium-khk.pc
/*.gz
/*.bin
/*.hfst
/*.zhfst
/modes
/*.mode
/*-*.prob
/config.in
/config
/test/*-output.txt
